<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sounddeck.css">
    <script src="script.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="stream-deck-screen">
        <div class="title-wrapper">
            <img src="/img/logo-se.png" alt="">
            <h2>SOUND DECK</h2>
        </div>

        <div class="button-layout">
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
            <button class="stream-deck-button">
                <img src="" alt="" class="image">
                <p class="text"></p>
            </button>
        </div>
    </div>
</body>
</html>